<nav class="bg-scd-dk text-prm-dk">
    <ul class="py-5 flex justify-around xl:justify-end">
        <li class="xl:mr-5">
            <a href="#" class="pb-2 hover:border-b-4">FAQ</a>
        </li>
        <li class="xl:mx-10">
            <a href="#" class="pb-2 hover:border-b-4">Qui sommes-nous?</a>
        </li>
        <li class="xl:mr-5">
            <a href="#" class="pb-2 hover:border-b-4">Conditions d'utilisation</a>
        </li>
    </ul>
</nav>