@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'lexend-exa';
    src: url("Lexend_Exa/LexendExa-VariableFont_wght.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'lexend-peta';
    src: url("Lexend_Peta/LexendPeta-VariableFont_wght.ttf");
    font-weight: normal;
}

body,footer,section,article,aside,div,p {
    font-family: 'lexend-exa';
    font-size: 1.05em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'lexend-peta';
    font-size: 2.5em;
}

a {
    font-family: 'lexend-peta';
    font-size: 1.15em;
}


